{% extends 'base.html' %}
{% block content %}

<div>



{% if user.is_authenticated %}
<h1>Records</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created Atc</th>
      <th scope="col">Address</th>

    </tr>
  </thead>
  <tbody>
    <tr>

    </tr>
  </tbody>
</table>
  
{% if records %}
  {% for record in records %}
  <tr>
     <td> {{record.first_name}}</br>
      {{record.last_name}}</br></td>
      <td>{{record.email}}</br></td>
      <td>{{record.address}}</br></td>
      <td>{{record.zipcode}}</td></br>
      <td>{{record.created_at}}</td></br>
      <td>{{record.phone}}</td></br>
      <td>{{record.state}}</td></br>
      <td> {{record.city}}</td></br>
      <td> {{record.id}}</td></br>
  </tr>
    </br>
  </div>
</tbody>
    </table>

  {% endfor %}


{% endif %}


{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}"> 
	{% csrf_token %}
	
  <div class="mb-3">
    
    <input type="text" class="form-control"  name="username", placeholder="Username" required>
 
  </div>
  <div class="mb-3">
    
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
 
  <button type="submit" class="btn btn-secondary">Login</button>
</form>
</div>
{% endif %}
{% endblock %}
